<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wizard - New Game</title>
    <meta charset="utf-8" />
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <style>
        a {color:inherit; text-decoration:none;}
        /*body {background-color: #fafafa}*/
    </style>
</head>
<body>
    <div style="margin: auto; width:440px; display: block; margin-top:15vh;">
        <table>
            <tr>
                <td>
                    <div style="width:200px; text-align:center; border-radius:3px; height:200px; margin:10px; display: block; background-color: #fefefe; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                        <p style="margin-bottom:0px; padding-top: 20px; text-align: left; margin-left: 20px; color:#666; font-family: Arial; font-size:14px;">Player 1:</p>
                        <img style="width:80px; margin-top:10px;" src="{% static 'img/player_icon.svg'%}">
                        <p style="font-size:36px; font-weight: bold; color:#666; margin-top:5px; font-family: Arial">Human</p>
                    </div>
                </td>
                <td>
                    <div style="width:200px; text-align:center; border-radius:3px; height:200px; margin:10px; display: block; background-color: #fefefe; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                        <p style="margin-bottom:0px; padding-top: 20px; text-align: left; margin-left: 20px; color:#666; font-family: Arial; font-size:14px;">Player 2:</p>
                        <img style="width:80px; margin-top:10px;" src="{% static 'img/robot_icon.svg'%}">
                        <p style="font-size:36px; font-weight: bold; color:#666; margin-top:5px; font-family: Arial">RL Agent</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width:200px; text-align:center; border-radius:3px; height:200px; margin:10px; display: block; background-color: #fefefe; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                        <p style="margin-bottom:0px; padding-top: 20px; text-align: left; margin-left: 20px; color:#666; font-family: Arial; font-size:14px;">Player 4:</p>
                        <img style="width:80px; margin-top:10px;" src="{% static 'img/player_icon.svg'%}">
                        <p style="font-size:36px; font-weight: bold; color:#666; margin-top:5px; font-family: Arial">Human</p>
                    </div>
                </td>
                <td>
                    <div style="width:200px; text-align:center; border-radius:3px; height:200px; margin:10px; display: block; background-color: #fefefe; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                        <p style="margin-bottom:0px; padding-top: 20px; text-align: left; margin-left: 20px; color:#666; font-family: Arial; font-size:14px;">Player 5:</p>
                        <img style="width:80px; margin-top:10px;" src="{% static 'img/player_icon.svg'%}">
                        <p style="font-size:36px; font-weight: bold; color:#666; margin-top:5px; font-family: Arial">Human</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <a href="/start/" style="position:absolute; right:50px; bottom:50px; width:60px; height:60px; border-radius:50%; display: block; margin: auto; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
        <img style="width:30px; margin:15px;" src="{% static 'img/right_chevron.svg'%}">
    </a>
    <div style="position:absolute; right:140px; bottom:50px; width:60px; height:60px; border-radius:50%; display: block; margin: auto; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
        <img style="width:30px; margin:15px;" src="{% static 'img/plus_icon.svg'%}">
    </div>
    <div style="position:absolute; right:230px; bottom:50px; width:60px; height:60px; border-radius:50%; display: block; margin: auto; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
        <img style="width:30px; margin:15px;" src="{% static 'img/minus_icon.svg'%}">
    </div>
    <script>
        $()
    </script>
</body>
