{% extends 'main.html'%}
{% load staticfiles %}
{% block head %}
<style>
    a {
        outline: none;
        color: inherit;
        text-decoration: none;
    }
    .header {
        position:absolute;
        top:0px;
        left:0px;
        width: 100%;
        background-color: transparent;
        height:50px;
        margin:0px;
    }
    .battleground {
        margin-left:auto;
        margin-right: auto;
        margin-top:calc(50vh - 100px);
        width:450px;
        height:250px;
        background-color: transparent;
        text-align: center;
        font-family: Arial;
    }
    .left_player {
        position:absolute;
        left:0px;
        top: 50px;
        width:150px;
        height:calc(100vh - 50px);
        background-color: transparent;
    }
    .right_player {
        position: absolute;
        right:0px;
        top:50px;
        width:150px;
        height:calc(100vh - 50px);
        background-color: transparent;
    }
    .top_player {
        position:absolute;
        top:50px;
        left:150px;
        height:150px;
        width:calc(100% - 300px);
        background-color: transparent;
    }
    .bottom_player {
        position:absolute;
        bottom:0px;
        left:150px;
        height:150px;
        width:calc(100% - 300px);
        background-color: transparent;
    }
    .score_label {
        font-family: Arial;
        color:#333;
        text-align: left;
        font-size: 10px;
        letter-spacing: 1px;
        width:40px;
        height:30px;
        margin-top: -30px;
        margin-left: 43px;
    }
    .prediction_label {
        font-family: Arial;
        color:#333;
        text-align: left;
        font-size: 10px;
        letter-spacing: 1px;
        width:50px;
        height:30px;
        margin-top: -90px;
        margin-left: 100px;
        border-radius: 50%;
    }
    .win_label {
        font-family: Arial;
        color:#333;
        text-align: left;
        font-size: 10px;
        letter-spacing: 1px;
        width:50px;
        height:30px;
        margin-top: 10px;
        margin-left: 100px;
        border-radius: 50%;
    }
    .player_cards {
        position:absolute;
        display: inline-block;
        width:calc(100% - 230px);
        background-color: transparent;
        height:100px;
    }
    .side_cards_left {
        position:absolute;
        top: 130px;
        left: 35px;
        display: inline-block;
        width:100px;
        background-color: transparent;
        height:calc(100vh - 200px);
    }
    .side_cards_right {
        position:absolute;
        display: inline-block;
        bottom: 140px;
        right: 35px;
        width:100px;
        background-color: transparent;
        height:calc(100vh - 230px);
    }
    .card {
        display: inline-block;
        {% if round > 10 %}
        margin:-8px;
        {% else %}
        margin:2px;
        {% endif %}
        font-family: Arial;
        color: red;
        border-radius: 3px;
        border: 2px solid red;
        width:50px;
        height:50px;
        text-align: center;
        padding-top: 30px;
        background-color: white;
    }
    .horizontal_card {
        display: inline-block;
        {% if round > 10 %}
        margin:-8px;
        {% else %}
        margin:2px;
        {% endif %}
        font-family: Arial;
        color: red;
        border-radius: 3px;
        border: 2px solid red;
        width:80px;
        height:30px;
        text-align: center;
        padding-top:10px;
        background-color:white;
    }

    .prediction_value {
        display: inline-block;
        font-family: Arial;
        font-size: 24px;
        width: 40px;
        height: 40px;
        margin:5px;
        border-radius: 50%;
        background-color: orange;
    }

    @media only screen and (max-width: 800px)  {
        .left_player {
            display: none;
        }
        .right_player {
            display: none;
        }
        .bottom_player {
            left: 0;
            width: 100%;
        }
        .top_player {
            left: 0;
            width: 100%;
        }
    }

    @media only screen and (max-height: 600px) {
        .top_player {
            display: none;
        }
        .battleground {
            margin-top: calc(50vh - 175px);
        }
    }

    @media only screen and (max-height: 450px) {
        .left_player {
            display: none;
        }
        .right_player {
            display: none;
        }
        .header {
            display: none;
        }
        .battleground {
            margin-top: calc(50vh - 200px);
        }
        .bottom_player {
            width:100%;
        }
    }

    @media only screen and (max-height: 370px) {
        .bottom_player {
            display: none;
        }
        .battleground {
            margin-top: calc(50vh - 125px);
        }
    }

</style>
{% endblock %}

{% block content %}
<div class="header">
    <div style="height:50px; width:50px; float:right; margin-right:10px;">
        <img src="{% static 'img/wizard_hat.svg' %}" style="width:30px; margin:10px;">
    </div>
</div>
<div class="battleground">
    {% if prediction_phase == True %}
        <p style="font-size: 24px; margin-top: -30px;">Prediction Phase</p>
        <p>Trump Card:</p>
        <div style="margin: 10px;">
            {% if trump_card.color == "White" %}
            <div class="card" style="color: black; border: 2px solid black;">
                {{trump_card.value}}
            </div>
            {% else %}
            <div class="card" style="color: {{trump_card.color}}; border: 2px solid {{trump_card.color}};">
                {{trump_card.value}}
            </div>
            {% endif %}
        </div>
        <p>Tricks:</p>
        <div style="margin:auto; text-align: center;">
            {% for number in prediction_range %}
            <div class="prediction_value">
                <a href="/game/round/{{round}}/prediction/{{number}}/">
                    <div style="padding-top: 5px;">
                        {{number}}
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>

    {% else %}

    {% endif %}
</div>
<div class="left_player">
    <div>
        <img src="{% static 'img/robot.svg' %}" style="width:60px; margin:30px;">
        <div class="score_label">
            Score:
            <div style="font-size: 18px;">
                120
            </div>
        </div>
    </div>
    <div>
        <div class="prediction_label">
            Prediction:
            <div style="font-size: 18px;">
                {% if prediction_phase == True %}
                    ?
                {% else %}
                    6
                {% endif %}
            </div>
        </div>
        <div class="win_label">
            Wins:
            <div style="font-size:18px;">
                5
            </div>
        </div>
    </div>
    <div class="side_cards_left">
        {% for card in left_agent_cards %}
            {% if card.color != "White" %}
                <div class="horizontal_card" style="color: {{card.color}}; border: 2px solid {{card.color}};">
                    {{card.value}}
                </div>
            {% else %}
                <div class="horizontal_card" style="color: black; border: 2px solid black;">
                    {{card.value}}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="right_player">
    <div style="position: absolute; bottom: 40px; right:45px;">
        <img src="{% static 'img/robot.svg' %}" style="width:60px; margin:30px;">
        <div class="score_label">
            Score:
            <div style="font-size: 18px;">
                120
            </div>
        </div>
    </div>
    <div style="position: absolute; bottom: 35px; right:15px;">
        <div class="prediction_label">
            Prediction:
            <div style="font-size: 18px;">
                {% if prediction_phase == True %}
                    ?
                {% else %}
                    6
                {% endif %}
            </div>
        </div>
        <div class="win_label">
            Wins:
            <div style="font-size:18px;">
                5
            </div>
        </div>
    </div>
    <div class="side_cards_right" style="height: {{height}}px;">
        {% for card in right_agent_cards %}
            {% if card.color != "White" %}
                <div class="horizontal_card" style="color: {{card.color}}; border: 2px solid {{card.color}};">
                    {{card.value}}
                </div>
            {% else %}
                <div class="horizontal_card" style="color: black; border: 2px solid black;">
                    {{card.value}}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="top_player">
    <div style="position: absolute; bottom: 40px; right:45px;">
        <img src="{% static 'img/robot.svg' %}" style="width:60px; margin:30px;">
        <div class="score_label">
            Score:
            <div style="font-size: 18px;">
                120
            </div>
        </div>
    </div>
    <div style="position: absolute; bottom: 35px; right:15px;">
        <div class="prediction_label">
            Prediction:
            <div style="font-size: 18px;">
                {% if prediction_phase == True %}
                    ?
                {% else %}
                    6
                {% endif %}
            </div>
        </div>
        <div class="win_label">
            Wins:
            <div style="font-size:18px;">
                5
            </div>
        </div>
    </div>
    <div class="player_cards" style="top: 20px; right: 140px; width:{{width}}px;">
        {% for card in top_agent_cards %}
            {% if card.color != "White" %}
                <div class="card" style="color: {{card.color}}; border: 2px solid {{card.color}};">
                    {{card.value}}
                </div>
            {% else %}
                <div class="card" style="color: black; border: 2px solid black;">
                    {{card.value}}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="bottom_player">
    <div>
        <img src="{% static 'img/player_icon.svg' %}" style="width:60px; margin:30px;">
        <div class="score_label">
            Score:
            <div style="font-size: 18px;">
                120
            </div>
        </div>
    </div>
    <div>
        <div class="prediction_label">
            Prediction:
            <div style="font-size: 18px;">
                {% if prediction_phase == True %}
                    ?
                {% else %}
                    6
                {% endif %}
            </div>
        </div>
        <div class="win_label">
            Wins:
            <div style="font-size:18px;">
                5
            </div>
        </div>
    </div>
    <div class="player_cards" style="bottom: 30px; left: 180px;">
        {% for card in player_cards %}
            {% if card.color != "White" %}
                <div class="card" style="color: {{card.color}}; border: 2px solid {{card.color}};">
                    {{card.value}}
                </div>
            {% else %}
                <div class="card" style="color: black; border: 2px solid black;">
                    {{card.value}}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}